@model  HR_Management.ShoppingCartBL.ViewModels.CartList



@if (Model != null && Model.CartViewModelList != null && Model.CartViewModelList.Any())
{
    double SubTotal = 0;   
    <a href="@Url.Action("Index", "ShoppingCart")" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-shopping-cart"></i>
        <span class="cartRespons"> Cart (<i class="fa fa-rupee"></i> @Model.Counter) </span>
        <b class="caret"></b>
    </a>

    <div class="dropdown-menu col-lg-4 col-xs-12 col-md-4 ">
        <div class="w100 miniCartTable scroll-pane">
            <table>
                <tbody>
                    @foreach (var item in Model.CartViewModelList)
                    {
                        <tr class="miniCartProduct">
                            <td style="width:30%" class="miniCartProductThumb">
                                <div>
                                    @*<a href="product-details.html">
                                            <img src="~/Content/images/product/3.jpg" alt="img">
                                        </a>*@
                                    <a href="@Url.Action("ProductDetail", "Product", new { Id = item.ProductId })">
                                        @if (item.ProductImage != null)
                                        {
                                            <img id="blah" class="img-responsive img-portfolio img-hover" style="width:86px;height:100px"
                                                 src="@Url.Content(" /Images/Upload/" + item.CategoryName + "/" + item.ProductImage + "_small.jpg")" alt="img" />
                                        }
                                        else
                                        {
                                            <img src="~/Images/no-image.png" alt="img" />
                                        }
                                    </a>
                                </div>
                            </td>
                            <td style="width:30%">
                                <div class="miniCartDescription">
                                    <h4><a href="product-details.html"> TSHOP Tshirt DO9 </a></h4>
                                    <span class="size"> 12 x 1.5 L </span>

                                    <div class="price"><span><i class="fa fa-rupee"></i>@String.Format("{0:0.00}", @item.SalePrice) </span></div>
                                </div>
                            </td>
                            <td style="width:10%" class="miniCartQuantity"><a> X @item.Qty </a></td>
                            <td style="width:15%" class="miniCartSubtotal">
                                <span><i class="fa fa-rupee"></i> @String.Format("{0:0}", @Convert.ToDouble(item.Qty * item.SalePrice)) </span>
                            </td>
                            <td style="width:5%" class="delete"><a> x </a></td>
                        </tr>
                        SubTotal += @Convert.ToDouble(item.Qty * item.SalePrice);                       
                    }
                    
                </tbody>
            </table>
        </div>
        <!--/.miniCartTable-->

        <div class="miniCartFooter text-right">
            <h3 class="text-right subtotal">Subtotal: <i class="fa fa-rupee"></i> @SubTotal </h3>
            <a class="btn btn-sm btn-danger" href="@Url.Action("Index", "ShoppingCart")">
                <i class="fa fa-shopping-cart"> </i> VIEW CART
            </a>
            <a class="btn btn-sm btn-primary" href="@Url.Action("CheckOutOnePage", "ShoppingCart")">CHECKOUT</a>
        </div>
        <!--/.miniCartFooter-->

    </div>
}
else
{
    <a href="@Url.Action("Index", "ShoppingCart")" class="dropdown-toggle">
        <i class="fa fa-shopping-cart"></i> <span class="cartRespons"> Cart () </span> <b class="caret"></b>
    </a>
}
<!--/.dropdown-menu-->
