@model HR_Management.Models.StoreProduct

<div>
    <h4>StoreProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Batch.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Batch.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatchNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductEnterDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductEnterDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostPricePerUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostPricePerUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountRatePerUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountRatePerUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MRPPerUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MRPPerUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
