

<div class="table-responsive">
    <table class="table table-hover table-striped table-condensed table-bordered example2" id="example2">
        <thead>
            <tr>
                <th class="col-md-1">
                </th>
                <th class="col-md-1">
                    <label>Date</label>
                </th>              
                <th class="col-md-1">
                    <label>Name</label>
                </th>
                <th class="col-md-1">
                    <label>MRPPerUnit</label>
                </th>
                <th class="col-md-1">
                    <label>Quantity</label>
                </th>
                <th class="col-md-2">
                </th>
            </tr>
        </thead>


        @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductEnterDate , "ShortDate")
                </td>            
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MRPPerUnit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a href="@Url.Action("Edit","StoreProducts" , new { id = item.Id })" class="glyphicon glyphicon-pencil"></a>
                    <a href="@Url.Action("Delete","StoreProducts" , new { id = item.Id  })" class="glyphicon glyphicon-remove"></a>
                </td>
            </tr>
        }*@

    </table>
</div>
