@model IEnumerable<HR_Management.Web.ViewModels.StoreProductsViewModel>
@{
    ViewBag.Title = "Store Products";
    Layout = "~/Areas/TOIManagement/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {
        $('#datepickerto').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true
        });
        //   $('#datepickerto').daterangepicker();

        $("#datepickerfrom").datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true
        });
    });
</script>

<div class="box-inner">
    <div class="box-content">
        <h2>Store Product List</h2>
        <hr />
        <table class="table table-bordered table-striped responsive">
            <tbody>
                <tr>
                    <td class="col-md-6">
                        <div class="form-group form-group-sm">
                            <label class="control-label col-md-4">Select Store</label>
                            <div class="col-md-6">
                                @Html.DropDownList("Stores", null, "--Select Store--", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label class="control-label col-md-4">Select Batch</label>
                            <div class="col-md-6">
                                @Html.DropDownList("Batches", null, "--Select Batch--", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label class="control-label col-md-4">Select Contact</label>
                            <div class="col-md-6">
                                @Html.DropDownList("Contacts", null, "--Select Contact--", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </td>
                    <td class="col-md-2">
                        <input type="text" id="datepickerto" class="form-control" placeholder="To Date">
                    </td>
                    <td class="col-md-2">
                        <input type="text" id="datepickerfrom" class="form-control" placeholder="From Date">
                    </td>
                    <td>
                        <button class="btn btn-sm btn-success" id="searchbtn">Search</button>
                        @Html.ActionLink("View ALL", "Index", "Violations", new { @class = "btn btn-success btn-sm" })
                        <input class="btn btn-sm btn-success" type="button" id="btnclear" value="Clear">
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <div id="violationdata">
            @Html.Partial("_StoreProductSearchIndex", Model)
        </div>
    </div>
</div>

<script>
    $('#searchbtn').on('click', function (e) {
        var violationCategoryId = $("#ViolationCategories").val();
        var countryId = $("#Countries").val();
        var userId = $("#Users option:selected").text();
        var todate = $("#datepickerto").val();
        var fromdate = $("#datepickerfrom").val();

        $.ajax({
            type: 'GET',
            url: "@Url.Action("DisplaySearchResults", "Violations")",
            data: { violationCategoryId: violationCategoryId, countryId: countryId, userId: userId, todate: todate, fromdate: fromdate },
            // dataType: 'json',
            success: function (data) {
                console.log('success', data);
                $("#violationdata").html(data);
            },
            error: function(exception) {
                 //alert('Exeption:' + exception);
            }
        });
        e.preventDefault();
    });

    $(document)
        .ready(function () {
            $("#btnclear")
                .click(function() {
                    $("#ViolationCategories").val("");
                    $("#Countries").val("");
                    $("#Users").val("");
                    $("#datepickerto").val("");
                    $("#datepickerfrom").val("");
                });

        });
    //$.get(action, null, function (data) {
    //    $('#someDiv').html(data);
    //}, 'html');
</script>

