@model IEnumerable<HR_Management.Models.Product>


<div class="box-inner">
    <div class="box-content">
     
        <p class="text-danger">@TempData["MessageToClient"]</p>
        <p class="text-success">@TempData["MessageToClientSuccess"]</p>
        <div class="table-responsive">
            <table class="table table-hover table-striped table-condensed table-bordered" id="dataTables">
                <tr>
                    <th class="col-md-1">
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th class="col-md-4">
                        @Html.DisplayNameFor(model => model.AutoGenerateName)
                    </th>
                    <th class="col-md-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th class="col-md-3">
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th class="col-md-1">

                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AutoGenerateName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                       
                    </tr>
                }

            </table>
        </div>
    </div>
</div>


