@model  HR_Management.ShoppingCartBL.ViewModels.ProductDetailsViewModel
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li><a href="category.html">MEN COLLECTION</a></li>
                <li><a href="sub-category.html">TSHIRT</a></li>
                <li class="active">Lorem ipsum dolor sit amet</li>
            </ul>
        </div>
    </div>
    <div class="row transitionfx">
        <!-- left column -->
        <div class="col-lg-6 col-md-6 col-sm-6">
            <!-- product Image and Zoom -->
            <div class="main-image sp-wrap col-lg-12 no-padding style2 style2look2">
                @foreach (var image in Model.ProductImagesViewModelList)
                {
                    <a href="@Url.Content("/Images/Upload/Products/" + image.FullName)">
                        <img src="@Url.Content("/Images/Upload/Products/" + image.FullName)"
                             class="img-responsive" alt="img">
                    </a>
                }

                @*<a href="/Content/images/product_details/hi-res-croped/3.jpg">
                        <img src="/Content/images/product_details/low-res-white/3.jpg" class="img-responsive" alt="img">
                    </a>*@
            </div>
        </div>
        <!--/ left column end -->
        <!-- right column -->
        <div class="col-lg-6 col-md-6 col-sm-5">
            @*<div id="divCreate"></div>*@
            <h1 class="product-title">
                @Model.Title
            </h1>

            <h3 class="product-code">Model Number : @Model.ModelNumber</h3>

            <div class="rating">
                <p>
                    <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span>
                        <i class="fa fa-star"></i>
                    </span> <span><i class="fa fa-star"></i></span> <span>
                        <i class="fa fa-star-o "></i>
                    </span> <span class="ratingInfo">
                        <span> / </span> <a data-toggle="modal" data-target="#modal-review">Write a review</a>
                    </span>
                </p>
            </div>
            <div class="product-price">
                <span class="price-sales"> <i class="fa fa-rupee"> </i>@Model.SalePrice.ToString("0.##")</span>
                <span class="price-standard">$95</span>
            </div>

            <div class="details-description">
                <p>@(string.IsNullOrEmpty(Model.Discription) ? Html.Raw(Model.Discription) : Html.Raw(Model.Discription.Substring(0, Math.Min(Model.Discription.Length, 100))) )</p>
            </div>

            <!--/.color-details-->
            <div class="color-details">
                <span class="selected-color"><strong>COLOR</strong></span>
                <ul class="swatches Color">
                    <li><a class="coloropt" id="1" style="background-color:#f1f40e"> </a></li>
                    <li><a class="coloropt" id="2" style="background-color:#adadad"> </a></li>
                    <li><a class="coloropt" id="3" style="background-color:#4EC67F"> </a></li>
                </ul>
            </div>
          
            <!-- quantity and size -->
            <div class="productFilter productFilterLook2">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-xs-6">
                        <div class="filterBox">
                            <select class="form-control" id="qty">
                                <option value="0" selected>Quantity</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs-6">
                        <div class="filterBox">
                            <select class="form-control">
                                <option value="strawberries" selected>Size</option>
                                <option value="mango">XL</option>
                                <option value="bananas">XXL</option>
                                <option value="watermelon">M</option>
                                <option value="apples">L</option>
                                <option value="apples">S</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
           
            <!--/.add to cart-actions-->
            <div class="cart-actions">
                <div class="addto row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <button class="button btn btn-block btn-cart cart first" title="Add to Cart" type="button">
                            Add to Cart
                        </button>
                    </div>
                    <img src="~/Content/Loader.png" alt="" id="imgloader" style="display:none;" />
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <a class="link-wishlist wishlist btn btn-block ">
                            Add to Wishlist
                        </a>
                    </div>
                </div>

                <div style="clear:both"></div>

                <h3 class="incaps"><i class="fa fa fa-check-circle-o color-in"></i> In stock</h3>

                <h3 style="display:none" class="incaps">
                    <i class="fa fa-minus-circle color-out"></i> Out of stock
                </h3>

                <h3 class="incaps"><i class="glyphicon glyphicon-lock"></i> Secure online ordering</h3>
            </div>
           
            <div class="clear"></div>
            <div style="clear:both"></div>
            <!--/.product-share-->
            <div class="product-share clearfix">
                <p> SHARE </p>

                <div class="socialIcon">
                    <a href="#"> <i class="fa fa-facebook"></i></a>
                    <a href="#"> <i class="fa fa-twitter"></i></a>
                    <a href="#"> <i class="fa fa-google-plus"></i></a>
                    <a href="#"> <i class="fa fa-pinterest"></i></a>
                </div>
            </div>
           
        </div>
        <!--/ right column end -->
       
    </div>

    <!--/.detail specification shipping comments-->
    <div class="product-tab w100 clearfix">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
            <li><a href="#size" data-toggle="tab">Specifications</a></li>
            <li><a href="#shipping" data-toggle="tab">Shipping</a></li>
            <li><a href="#comments" data-toggle="tab">Comments</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="details">
                @Html.Raw(Model.Discription)
            </div>
            <div class="tab-pane" id="size">
                @Html.Raw(Model.Specifications)
            </div>
            <div class="tab-pane" id="shipping">
                <table>
                    <colgroup>
                        <col style="width:33%">
                        <col style="width:33%">
                        <col style="width:33%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>Standard</td>
                            <td>1-5 business days</td>
                            <td>$7.95</td>
                        </tr>
                        <tr>
                            <td>Two Day</td>
                            <td>2 business days</td>
                            <td>$15</td>
                        </tr>
                        <tr>
                            <td>Next Day</td>
                            <td>1 business day</td>
                            <td>$30</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">* Free on orders of $50 or more</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="tab-pane" id="comments">
                <div class="hero-section-header productReviewTitleBAr">
                    <h3 class="hero-section-title"><i class="fa fa-2x  fa-comments-o"></i> Product Review</h3>

                    <div class="rating commentRating">
                        <p>
                            <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span><i class="fa fa-star"></i></span> <span> <i class="fa fa-star-o "></i> </span>
                            <span class="ratingInfo">
                                <span class="ratingNumber">4.0 </span>  Average rating
                            </span>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 review-sortByBar">
                        <div class="pull-left">
                            <h4 class="no-margin-no-padding uppercase"><span class="bold">12</span> Reviews </h4>
                        </div>

                        <div class="pull-right col-lg-2 no-padding">
                            <select class="form-control">
                                <option selected>Most Recent</option>
                                <option>Most Recent</option>
                                <option>Most Helpful</option>
                                <option>Top Rated</option>
                            </select>
                        </div>

                    </div>
                </div>


                <div class="all-review-wrapper wow  fadeIn">

                    <div class="row review-item">
                        <div class="col-lg-3 col-sm-3  left">
                            <div class="review-item-user">
                                <div class="review-item-user-profile">
                                    <img class="img-circle" alt="" src="~/Content/images/product_details/user-2.jpg">
                                </div>
                                <div class="user-name">
                                    <p>John Doe </p>
                                    <small>5m ago</small>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-9  col-sm-9 right">


                            <div class="rating commentRating">
                                <p>
                                    <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span>
                                        <i class="fa fa-star"></i>
                                    </span> <span><i class="fa fa-star"></i></span> <span>
                                        <i class="fa fa-star-o "></i>
                                    </span> <span class="ratingInfo">
                                        <span> / </span> <a data-target="#modal-review" data-toggle="modal">4.0</a>
                                    </span>
                                </p>
                            </div>
                            <h5 class="reviewUserTitle"><strong>Great product and very useful!</strong></h5>

                            <p class="commentText">
                                Lorem ipsum dolor sit amet, nam odio prompta ne. Mea semper repudiare in, eos ei dico tamquam
                                noluisse. Nec albucius lucilius i
                                ntellegebat at, cu epicurei rationibus est. Eos ei eros civibus ullamcorper,
                                nominavi repudiare vis at. Consul albucius assentior id vim, ei sit mazim dissentias, pri ea
                                melius laoreet delicatissimi.
                            </p>


                        </div>


                    </div>

                    <div class="row review-item">
                        <div class="col-lg-3 col-sm-3  left">
                            <div class="review-item-user">
                                <div class="review-item-user-profile">
                                    <img class="img-circle" alt="" src="~/Content/images/site/default-user.png">
                                </div>
                                <div class="user-name">
                                    <p>John Doe </p>
                                    <small>5m ago</small>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-9  col-sm-9 right">


                            <div class="rating commentRating">
                                <p>
                                    <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span>
                                        <i class="fa fa-star"></i>
                                    </span> <span><i class="fa fa-star"></i></span> <span>
                                        <i class="fa fa-star-o "></i>
                                    </span> <span class="ratingInfo">
                                        <span> / </span> <a data-target="#modal-review" data-toggle="modal">4.0</a>
                                    </span>
                                </p>
                            </div>
                            <h5 class="reviewUserTitle"><strong>In a professional context !</strong></h5>

                            <p class="commentText">
                                Ut eam tamquam ullamcorper vituperatoribus. Saepe nonumy complectitur duo id, eam labores
                                ponderum no, timeam elaboraret repudiandae ea quo. Dolores efficiendi complectitur eos eu. Id
                                sed brute nemore, eu sed agam democritum intellegam.
                            </p>


                        </div>


                    </div>

                    <div class="row review-item">
                        <div class="col-lg-3 col-sm-3  left">
                            <div class="review-item-user">
                                <div class="review-item-user-profile">
                                    <img class="img-circle" alt="" src="~/Content/images/product_details/user-2.jpg">
                                </div>
                                <div class="user-name">
                                    <p>John Doe </p>
                                    <small>5m ago</small>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-9  col-sm-9 right">


                            <div class="rating commentRating">
                                <p>
                                    <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span>
                                        <i class="fa fa-star"></i>
                                    </span> <span><i class="fa fa-star"></i></span> <span>
                                        <i class="fa fa-star-o "></i>
                                    </span> <span class="ratingInfo">
                                        <span> / </span> <a data-target="#modal-review" data-toggle="modal">4.0</a>
                                    </span>
                                </p>
                            </div>
                            <h5 class="reviewUserTitle"><strong>Sed ut perspiciatis!</strong></h5>

                            <p class="commentText">

                                Graece utamur reformidans vix in. No iisque detraxit senserit vim, mei ut menandri periculis. Eu
                                vide dolorum cotidieque vix, cum minim voluptua principes ad. Mei omnis option persius ut, pri
                                fastidii oporteat complectitur et, est cu novum temporibus. Id nulla semper dolorum pro.
                            </p>


                        </div>


                    </div>


                    <div class="row">
                        <div class="col-lg-12 review-load-more">
                            <div class=" text-center">
                                <a href="#" class="btn  btn-default  ">
                                    <i class="fa fa-plus-sign">+</i> Load 8 more reviews
                                </a>
                                <a class="btn  btn-success" data-target="#modal-review" data-toggle="modal">
                                    <i class="fa fa-edit"></i> Write reviews
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- /.tab content -->

    </div>
    <!--/.row-->

    <div class="row recommended">

        <h1> YOU MAY ALSO LIKE </h1>

        <div id="SimilarProductSlider">
            <div class="item">
                <div class="product">
                    <a class="product-image"> <img src="~/Content/images/product/a1.jpg" alt="img"> </a>

                    <div class="description">
                        <h4><a href="san-remo-spaghetti">YOUR LIFE</a></h4>

                        <div class="price"><span>$57</span></div>
                    </div>
                </div>
            </div>
            <!--/.item-->

            <div class="item">
                <div class="product">
                    <a class="product-image"> <img src="~/Content/images/product/a2.jpg" alt="img"> </a>

                    <div class="description">
                        <h4><a href="san-remo-spaghetti">RED CROWN</a></h4>

                        <div class="price"><span>$44</span></div>
                    </div>
                </div>
            </div>
            <!--/.item-->

            <div class="item">
                <div class="product">
                    <a class="product-image"> <img src="~/Content/images/product/a3.jpg" alt="img"> </a>

                    <div class="description">
                        <h4><a href="san-remo-spaghetti">WHITE GOLD</a></h4>

                        <div class="price"><span>$35</span></div>
                    </div>
                </div>
            </div>
            <!--/.item-->

            <div class="item">
                <div class="product">
                    <a class="product-image"> <img src="~/Content/images/product/a4.jpg" alt="img"> </a>

                    <div class="description">
                        <h4><a href="san-remo-spaghetti">DENIM 4240</a></h4>

                        <div class="price"> $<span>55</span></div>
                    </div>
                </div>
            </div>
            <!--/.item-->

            <div class="item">
                <div class="product">
                    <a class="product-image"> <img src="~/Content/images/product/30.jpg" alt="img"> </a>

                    <div class="description">
                        <h4><a href="san-remo-spaghetti">CROWN ROCK</a></h4>

                        <div class="price"><span>$500</span></div>
                    </div>
                </div>
            </div>
            <!--/.item-->

            <div class="item">
                <div class="product">
                    <a class="product-image"> <img src="~/Content/images/product/a5.jpg" alt="img"> </a>

                    <div class="description">
                        <h4><a href="san-remo-spaghetti">SLIM ROCK</a></h4>

                        <div class="price"><span>$50 </span></div>
                    </div>
                </div>
            </div>
            <!--/.item-->

            <div class="item">
                <div class="product">
                    <a class="product-image"> <img src="~/Content/images/product/36.jpg" alt="img"> </a>

                    <div class="description">
                        <h4><a href="san-remo-spaghetti">ROCK T-Shirts </a></h4>

                        <div class="price"><span>$130</span></div>
                    </div>
                </div>
            </div>
            <!--/.item-->

            <div class="item">
                <div class="product">
                    <a class="product-image"> <img src="~/Content/images/product/13.jpg" alt="img"> </a>

                    <div class="description">
                        <h4><a href="san-remo-spaghetti">Denim T-Shirts </a></h4>

                        <div class="price"><span>$43</span></div>
                    </div>
                </div>
            </div>
            <!--/.item-->
        </div>
        <!--/.SimilarProductSlider-->
    </div>
    <!--/.recommended-->
    <div style="clear:both"></div>
    <input type="hidden" id="hididentity" value="@HttpContext.Current.User.Identity.Name" />
    <input type="hidden" id="hidcolor" />
    <input type="hidden" id="hiproductid" value="@Model.Id" />
</div>

<!-- Modal review start -->
<div class="modal  fade" id="modal-review" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h3 class="modal-title-site text-center">PRODUCT REVIEW </h3>
            </div>
            <div class="modal-body">

                <h3 class="reviewtitle uppercase">You're reviewing: Lorem ipsum dolor sit amet</h3>

                <form>
                    <div class="form-group">
                        <label>
                            How do you rate this product?
                        </label> <br>

                        <div class="rating-here">
                            <input type="hidden" class="rating-tooltip-manual" data-filled="fa fa-star fa-2x"
                                   data-empty="fa fa-star-o fa-2x" data-fractions="3" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rtext">Name</label>
                        <input type="text" class="form-control" id="rtext" placeholder="Your name" required>
                    </div>

                    <div class="form-group ">
                        <label>Review</label>
                        <textarea class="form-control" rows="3" placeholder="Your Review" required></textarea>

                    </div>


                    <button type="submit" class="btn btn-success">Submit Review</button>
                </form>


            </div>

        </div>
        <!-- /.modal-content -->

    </div>
    <!-- /.modal-dialog -->

</div>
<!-- /.Modal review -->
<!-- Page Content -->
<!-- jquery-migrate only for product details -->
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<!-- include smoothproducts // product zoom plugin  -->
<script src="~/Content/assets/js/smoothproducts.js"></script>

<script>

    $('.cart').on("click", function (e) {

        var identity = $('#hididentity').val();
        var color = $('#hidcolor').val();
        var qty = $('#qty').val();
        var productId = $('#hiproductid').val();

        if (identity == "" || identity == null || identity == undefined) {
            showNotification("Please Login", "error");
            //$("#exampleModal").modal({
            //    keyboard: false,
            //    backdrop: 'static',
            //    show: true
            //});           
            //$('#divCreate').html('<div class="alert alert-danger fade in" id="alertBox"> Please Login</div>')
            $('#spnheadname').text('Login');
        }
        else {

            if (color == "" || color == undefined) {
                showNotification("Please select colour", "error");
                //$("#exampleModal").modal({
                //    keyboard: false,
                //    backdrop: 'static',
                //    show: true
                //});                
                //$('#divCreate').html('<div class="alert alert-danger fade in" id="alertBox"> Please select colour</div>')
                // $('#spnheadname').text('Wish List');
                return;
            }
            else {
                $('#imgloader').show();
                $.ajax({
                    url: '/ShoppingCart/AddToCart',
                    type: 'POST',
                    datype: 'json',
                    data: { 'color': color, 'productId': productId, 'qty': qty },
                    success: function (data) {
                        showNotification("Successfully Added To Cart", "success");
                        //var cartcount = parseFloat(document.getElementById("cartcount").value).toFixed(0);
                        //if (isNaN(quantity)) {
                        //    quantity = 0;
                        //}
                        //document.getElementById("cartcount").value = (quantity + 1);
                        //$("#exampleModal").modal({
                        //    keyboard: false,
                        //    backdrop: 'static',
                        //    show: true
                        //});
                        //$('#divCreate').html(data.objResponse.StrResponse)
                        //$('#spnheadname').text('Cart');
                        
                        $('#imgloader').hide();
                    },
                    error: function (xhr, status) {
                        alert(xhr.responseText);
                        $('#imgloader').hide();
                    }
                });
            }
        }
    })

    $('.coloropt').on("click", function (e) {
        e.preventDefault();
        $('.coloropt').removeClass("active-color");
        $(this).addClass("active-color");
        $('#hidcolor').val(this.id);
    })

</script>