@model HR_Management.Models.Membership
@{ 
    Layout = "~/Areas/TOIManagement/Views/Shared/_Layout.cshtml";
}
<div class="box-inner">
    <div class="box-content">
        <h2>Delete Membership</h2>
        <hr />
        <p class="text-success">@TempData["MessageToClientSuccess"]</p>
        <p class="text-danger">@TempData["MessageToClientError"]</p>
        <h4>Are you sure you want to delete this?</h4>
        <div>
           
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Company.CompanyName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Company.CompanyName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MembershipName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MembershipName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SchemeStartDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SchemeStartDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SchemeEndDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SchemeEndDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Discount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Discount)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Fees)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Fees)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-xs" }) |
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            }
        </div>
    </div>
</div>